[Desktop Entry]
Encoding=UTF-8
Name=Link to http://www.smart.uk.com/wp-content/uploads/2015/06/apple-mac-rental.jpg
Type=Link
URL=http://www.smart.uk.com/wp-content/uploads/2015/06/apple-mac-rental.jpg
Icon=image-jpeg
