[Desktop Entry]
Encoding=UTF-8
Name=Link to http://cdn.iphoneincanada.ca/wp-content/uploads/2015/03/apple-tv-hero.png
Type=Link
URL=http://cdn.iphoneincanada.ca/wp-content/uploads/2015/03/apple-tv-hero.png
Icon=image-png
