[Desktop Entry]
Encoding=UTF-8
Name=Link to http://images.fonearena.com/blog/wp-content/uploads/2013/10/Apple-ipad-mini-retina-display.jpg
Type=Link
URL=http://images.fonearena.com/blog/wp-content/uploads/2013/10/Apple-ipad-mini-retina-display.jpg
Icon=image-jpeg
