[Desktop Entry]
Encoding=UTF-8
Name=Link to http://cdn.hiconsumption.com/wp-content/uploads/2016/09/Apple-Watch-Series-2-0.jpg
Type=Link
URL=http://cdn.hiconsumption.com/wp-content/uploads/2016/09/Apple-Watch-Series-2-0.jpg
Icon=image-jpeg
