[Desktop Entry]
Encoding=UTF-8
Name=Link to http://www.kitguru.net/wp-content/uploads/2014/09/apple_iphone_61.jpg
Type=Link
URL=http://www.kitguru.net/wp-content/uploads/2014/09/apple_iphone_61.jpg
Icon=image-jpeg
